<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("partials/head.ejs") %>
</head>

<body>
    <header>
        <%- include ("partials/header.ejs") %>
    </header>
    <br />
    <br />
    <div class="container">
        <h3>Fill the form and proceed to checkout.</h3>
        <hr />
        <div class="row">
            <div class="col-lg-6">
                <div class="box-element" id="form-wrapper">
                    <form id="form">
                        <div id="user-info">
                            <div class="form-field">
                                <input required class="form-control" type="text" name="name" placeholder="Name..">
                            </div>
                            <div class="form-field">
                                <input required class="form-control" type="email" name="email" placeholder="Email..">
                            </div>
                        </div>

                        <div id="shipping-info">
                            <hr>
                            <p>Shipping Information:</p>
                            <hr>
                            <div class="form-field">
                                <input class="form-control" type="text" name="address" placeholder="Address..">
                            </div>
                            <div class="form-field">
                                <input class="form-control" type="text" name="city" placeholder="City..">
                            </div>
                            <div class="form-field">
                                <input class="form-control" type="text" name="state" placeholder="State..">
                            </div>
                            <div class="form-field">
                                <input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
                            </div>
                            <div class="form-field">
                                <input class="form-control" type="text" name="country" placeholder="Country..">
                            </div>
                        </div>

                        <hr>
                        <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
                    </form>
                </div>

                <br>
                <div class="box-element" id="payment-info">
                    <small>Paypal Options</small>
                    <button id="make-payment">Make Payment</button>
                </div>

            </div>

            <div class="col-lg-6">
                <div class="box-element">
                    <a class="btn btn-outline-dark" href="/cart">&#x2190; Back to Cart</a>
                    <hr>
                    <h3>Order Summary</h3>
                    <hr>

                    <div class="cart-row">
                        <div style="flex:2"><img class="row-image" src="images/mushroom.jpg"></div>
                        <div style="flex:2">
                            <p>mushroom</p>
                        </div>
                        <div style="flex:1">
                            <p>&#8377;10</p>
                        </div>
                        <div style="flex:1">
                            <p>x3</p>
                        </div>
                    </div>
                    
                    <div class="cart-row">
                        <div style="flex:2"><img class="row-image" src="images/mushroom.jpg"></div>
                        <div style="flex:2">
                            <p>mushroom</p>
                        </div>
                        <div style="flex:1">
                            <p>&#8377;10</p>
                        </div>
                        <div style="flex:1">
                            <p>x3</p>
                        </div>
                    </div>

                    <div class="cart-row">
                        <div style="flex:2"><img class="row-image" src="images/mushroom.jpg"></div>
                        <div style="flex:2">
                            <p>mushroom</p>
                        </div>
                        <div style="flex:1">
                            <p>&#8377;10</p>
                        </div>
                        <div style="flex:1">
                            <p>x3</p>
                        </div>
                    </div>

                    <h5>Items: 9</h5>
                    <h5>Total: &#8377;90.00</h5>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <%- include ("partials/footer.ejs") %>
    </footer>
</body>

</html>