<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
</head>

<body>
    <header>
        <%- include("partials/header") %>
    </header>
    <br />
    <br />
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <img src="images/mushroom.jpg" style="width: 150px; height: 100px;" alt="John Doe">
                <h1 class="display-3">John Doe</h1>
            </div>
        </div>
    </div>

    <%- include ("partials/footer") %>
</body>

</html>