<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #dcf7ba;">
    <a class="navbar-brand" href="/">Nature Fresh</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link active" href="/shop">Shop <span class="sr-only">(current)</span></a>
            </li>
            <% if(user){%>
                <li class="nav-item active">
                    <a class="nav-link" href="/client-profile">My Profile</a>   
                </li>
            <% } %>
        </ul>
        <!-- <span id="checkoutBtn" style="display: none; border: 1px solid black; border-radius: 10px;">
            <a onclick="gotoCart()" class="btn" href="/cart">
                <p style="display: inline; vertical-align: middle;" class="pr-1">CHECKOUT</p>
                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-cart3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                </svg>
            </a>
        </span> -->
        
        <% if(user){%>
            <ul class="navbar-nav align-right ">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <% if(user.photoURL!=null){%>
                    <img src="<%= user.photoURL %>" 
                         alt="User Image" 
                         style="width: 40px; height: 40px; object-fit: cover; object-position: top;" 
                         class="img-fluid card-img-top rounded-circle">
                <% } else {%>
                    <img src="images/profile.webp" 
                         alt="User Image" 
                         width="20" 
                         class="img-fluid rounded-circle">
                <% }%>
                <font style="color:black;">&nbsp; <%= user.displayName %></font>
                </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/client-profile">View Profile</a>
                        <a class="dropdown-item" href="/update-profile">Update Profile</a>
                    </div>
                </li>
            </ul>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/logout" class="btn-primary btn-dark btn-md btn" style="border-radius: 10px;" role="button">Logout</i></a>
        <% } else {%>
            <span class="btn">
                <a href="/signin" style="text-decoration: none;" class="text-dark">
                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                        <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
                    </svg>
                    <font style="color:black; vertical-align: middle;">&nbsp;LOGIN</font>
                </a>        
            </span>
        <% }%>
    </div>
    <style>
        header{
            margin-bottom: 60px;
        }

        #checkBtn:hover {
            color: white;
            background-color: black;
        }
    </style>
</nav>