<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #dcf7ba;">
    <a class="navbar-brand" href="/">Nature Fresh</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                
            </li>

            <li>
                <a class="nav-link active" href="/shop">Shop <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/update-profile">Edit Profile</a>   
            </li>
        </ul>
        <form class="form-inline active-pink-3 active-pink-4">
            <span class="btn"><i class="fas fa-search" aria-hidden="true"></i></span>
            <span><input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
              aria-label="Search"></span>
        </form>
        <span class="btn"><a onclick="gotoCart()"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></span>       
        <span class="btn"><a href="/reroute"><i class="fa fa-user" aria-hidden="true"></i></a><font style="color:black;">&nbsp; Welcome <%= user.displayName %></font></span>

        <a href="/logout" class="btn-primary btn-dark btn-lg btn" role="button">Logout</i></a>
    </div>
</nav>