<section id="footer_widget" class="footer_widget">
    <div class="container">
        <div class="row">
            <div class="footer_widget_content text-center">
                <div class="col-md-4">
                    <div class="single_widget wow fadeIn" data-wow-duration="2s">
                        <h3>Our Location</h3>

                        <div class="single_widget_info">
                            <p>Shop-42069, Dank Street

                                <span>Bokaro</span>
                                <span>Jharkhand</span>
                                <span class="phone_email">phone: +91 921 142 0101</span>
                                <span>Email: support@thenaturemushroom.com</span></p>
                        </div>

                        <div class="footer_socail_icon">
                            <a href="https://www.facebook.com/iot.lab.kiit" target="_blank"><i
                                    class="fab fa-facebook"></i></a>
                            <a href="https://twitter.com/iotlabkiit" target="_blank"><i
                                    class="fab fa-twitter"></i></a>
                            <a href="https://www.linkedin.com/company/iotkiit/" target="_blank"><i
                                    class="fab fa-linkedin"></i></a>
                            <a href="https://www.instagram.com/iotkiit/" target="_blank"><i
                                    class="fab fa-instagram"></i></a>
                            <a href="https://t.me/iotkiit" target="_blank"><i class="fab fa-telegram"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="single_widget wow fadeIn" data-wow-duration="4s">
                        <h3>Our Working Hours</h3>

                        <div class="single_widget_info">
                            <p><span class="date_day">Monday To Friday</span>
                                <span>10:00am to 6:00pm</span>

                                <span class="date_day">Saturday & Sunday</span>
                                <span>Weekend Off</span>

                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="single_widget wow fadeIn" data-wow-duration="5s">
                        <h3>Have a doubt? Contact Us</h3>

                        <div class="single_widget_form text-left">
                            <form id="contact-us" method="POST">
                                <div class="form-group">
                                    <input id="contact-us-name" type="text" class="form-control" name="name" placeholder="Name" required="">
                                </div>

                                <div class="form-group">
                                    <input id="contact-us-email" type="email" class="form-control" name="email" placeholder="Email" required="">
                                </div>

                                <div class="form-group">
                                    <input id="contact-us-subject" type="text" class="form-control" placeholder="Subject" name="subject">
                                </div>
                                <!-- end of form-group -->

                                <div class="form-group">
                                    <textarea id="contact-us-message" class="form-control" name="message" rows="3" placeholder="Message" required=""></textarea>
                                </div>

                                <button type="submit" value="Send" class="btn btn-primary">Send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>