<header id="home" class="navbar-fixed-top">
    <!-- End navbar-collapse-->
    <div class="main_menu_bg">
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/"><img src="images/logo.png" alt="" width="80" height="80" /></a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="#slider">Home</a></li>
                                <li><a href="/aboutus">About Us</a></li>
                                <li><a href="/shop">Shop</a></li>
                                <% if(user){%>
                                    <li>
                                        <% if(user.photoURL!=null){%>
                                            <img src="<%= user.photoURL %>" alt="User Image" style="width: 50px; height: 50px; object-fit: cover; object-position: top; border-radius: 5rem;">
                                            <% } else {%>
                                                <img src="/images/profile.webp" alt="User Image" width="20">
                                                <% }%>
                                    </li>
                                    <li>
                                        <a href='/client-profile'>
                                            <%= user.displayName %>
                                        </a>
                                    </li>
                                    <li><a href="/logout" class="booking">Logout</i></a></li>
                                    <% } else {%>
                                        <li><a href="/signin" class="booking">LOGIN</a></li>
                                        <% }%>

                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>
            </div>
        </div>
    </div>
</header>