<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
</head>

<body>
    <header>
        <%- include("partials/header") %>
    </header>
    <br />
    <br />
    <div class="container">
    <!-- Edit Order -->
    <h5><strong>Edit Order:<strong></strong></h5>
    <form>
        <div class="form-group">
            <label for="user">User:</label>
            <select type="select" id="user" name="user">
                <option value="firebase_id">John Doe</option>
                <option value="firebase_id">John Smith</option>
                <option value="firebase_id">Jane Doe</option>
            </select>
        </div>
        <div class="form-group">
            <label for="cart">Cart:</label>
            <select type="select" id="cart" name="cart">
                <option value="cart_id">John Doe</option>
                <option value="cart_id">John Smith</option>
                <option value="cart_id">Jane Doe</option>
            </select>
        </div>
        <div class="form-group">
            <label for="contact-no">Phone Number;:</label>
            <input type="number" class="form-control" id="contact-no" name="contact-no" />
        </div>
        <div class="form-group">
            <label for="address">Address:</label>
            <textarea class="form-control" rows="5" id="address" name="address"></textarea>
        </div>
        <div class="form-group">
            <label for="cgst">CGST:</label>
            <input type="number" class="form-control" id="cgst" name="cgst" />
        </div>
        <div class="form-group">
            <label for="sgst">SGST:</label>
            <input type="number" class="form-control" id="sgst" name="sgst" />
        </div>
        <div class="form-group">
            <label for="gst">GST:</label>
            <input type="number" class="form-control" id="gst" name="gst" />
        </div>
        <div class="form-group">
            <label for="delivery-charge">Delivery Charge:</label>
            <input type="number" class="form-control" id="delivery-charge" name="delivery-charge" />
        </div>
        <button type="submit" class="btn btn-primary">Edit</button>
    </form>
    <!-- Edit Order Ends -->
    
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>