<footer id="footer" class="footer">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-12">
                <div class="copyright wow zoomIn" data-wow-duration="3s">
                    <p>Made with <i class="fa fa-heart"></i> by <a href="">IOT Lab, KIIT</a>2020. All Rights Reserved
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>