<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" 
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
          crossorigin="anonymous">
</head>
<style>
    * {
        color: white;
        outline: none;
    }

    input[type = text],
    input[type = email],
    input[type = password] {
        width: 100%;
        background-color: transparent; 
        border: 2px solid white; 
        border-radius: 10px;
        margin-bottom: 10px;
    }

    button[type = submit] {
        border: 2px solid white;
        border-radius: 10px;
    }

    ::placeholder {
        color: white;
    }

    #overlayDiv {
        background-color: rgba(0, 0, 0, 0.493); 
        border-radius: 10px;
        margin-top: 12vh;
    }
</style>
<body style="background-image: url('/images/BG.jpg'); background-size: cover; background-attachment: fixed;">
    <div class="container-fluid">
        <div class="row">
            <div class="mx-auto" style="width: 350px;">
                <div class="p-5" id="overlayDiv">
                    <h1 class="mb-4">Sign Up</h1>
                    <form method="POST" action="/signup" enctype="multipart/form-data">
                        <input type="text" name="firstName" placeholder="First Name" class="p-2" /><input type="text" name="lastName" placeholder="Last Name" class="p-2" /><br>
                        <input type="email" name="email" placeholder="Email" class="p-2" /><br>
                        <input type="password" name="password" placeholder="Password" class="p-2" />
                        <input type="text" name="phoneNumber" placeholder="Number" class="p-2" />
                        <input type="text" name="urole" placeholder="Role" class="p-2" value="user" hidden/>
                        <input type="text" name="uaddress" placeholder="Address" class="p-2" />
                        <label for="file">Choose Image file</label>
                        <input type="file" name="image" id="file">
                        <center><button type="submit" class="btn btn-outline-light mt-4 px-3">SUBMIT</button></center>
                    </form>
                    <br>
                    <center><a href="/signin" class="btn-primary btn-dark btn-md btn" role="button">Old User? Sign In</i></a></center>
                </div>
            </div>
        </div>
    </div>
</body>
</html>