<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" 
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
          crossorigin="anonymous">
</head>
<style>
    * {
        color: white;
        outline: none;
    }

    input[type = text],
    input[type = email],
    input[type = password] {
        width: 100%;
        background-color: transparent; 
        border: 2px solid white; 
        border-radius: 10px;
        margin-bottom: 10px;
    }

    button[type = submit] {
        border: 2px solid white;
        border-radius: 10px;
    }

    ::placeholder {
        color: white;
    }

    #overlayDiv {
        background-color: rgba(0, 0, 0, 0.493); 
        border-radius: 10px;
        margin-top: 20vh;
    }
</style>
<body style="background-image: url('/images/BG.jpg'); background-size: cover; background-attachment: fixed;">
    <div class="container-fluid">
        <div class="row">
           
            <div class="mx-auto" style="width: 350px;">
                <div class="p-5" id="overlayDiv">
                    
                    <h1 class="mb-4">Sign In</h1>
                    <form method="POST" action="/signin">                        
                        <input type="email" name="email" placeholder="Email" class="p-2" required /><br>
                        <input type="password" name="password" placeholder="Password" class="p-2" required />
                        <center><button type="submit" class="btn btn-outline-light mt-4 px-3">SUBMIT</button></center>
                    </form>
                    <br>
                    <center><a href="/signup" class="btn-primary btn-dark btn-md btn" role="button">New User? Sign Up</i></a></center>
                    <br>
                    <center><a class="btn btn-secondary" href="/home" >&#x2190; Home</a></center>
                </div>
            </div>
        </div>
    </div>

    <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center text-dark" style="min-height: 200px; position: absolute; top: 0; right: 50px;">
        <div class="toast bg-dark" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
          <div class="toast-header bg-dark">
            <strong class="mr-auto">Error</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="toast-body">
             <%= message %>
          </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script>
        var mess = '<%- message %>'
        if(mess != 'false'){
            $(document).ready(function(){
                $('.toast').toast('show');
            });
        }
    </script>
</body>
</html>