<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img src="/images/logo.png" height=40 width=40 alt="">&nbsp;&nbsp;Nature Fresh
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/users">Users <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Orders
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/allOrders">View All</a>
                    <a class="dropdown-item" href="/orders">Update Status</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mushrooms
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/admin">View All</a>
                    <a class="dropdown-item" href="/create-item">Create</a>
                </div>
            </li>
        </ul>
        <span class="btn"><a href="/client-profile" style="text-decoration: none;" ><i style="color: white;" class="fa fa-user" aria-hidden="true"></i><font style="color: white;">&nbsp; Welcome <%= user.displayName %></font></a></span>
        <a href="/logout" class="btn-primary btn-md btn" role="button">Logout</i></a>
    </div>
</nav>
<!-- Navbar Ends -->